
.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}
li>a {
    color: black;
    font-size : 12pt;
    }
.navbar-brand{
    font-size :25pt;
    color:white;
    font-weight:bold;
    font-family:'DFPOP1-W9';
    padding-left: 50px;
    padding-right: 50px;
    }
.navbar-brand:hover{
    color:black;
    font-weight:bold;
    font-family:'DFPOP1-W9';
    }
.navbar-toggle>span{
     background-color:black;
     }
.active{
     background-color:#bba0e2;
     }
     .dropdown-menu{
        width: 600px;
        height: 300px;
    }
    .check{
        align-items: center;
    }
    .sign_in,.create_account{
        display: flex;
        justify-content: center;
        text-align:center;
        align-items: center;
        margin-top: 10pt;
    }
    .sign_in>button{
        padding-left: 50pt;
        padding-right: 50pt;
    }
    .row{
        margin-left: 50px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .list{
        padding-left: 3px;
    }
    .list>li>a{
        font-size: 14px;
    }